/* stretch: add styling */

body {
    background-color: lavender;
}

header {
    margin-bottom: 50px;
}

form {
    margin-bottom: 15px;
}

input {
    border: solid black 1px;
    border-collapse: separate;
    width: 15%;
    font-size: inherit;

}

#addbtn {
    border-width: 3px;
    border-style: ridge;
    height: auto;
    width: auto;
    padding: 2px;
    margin-bottom: 5px;
    background-color: purple;
    font-size: inherit;
    color: white;
    text-shadow: silver ;
}


table {
    text-align: left;
    width: 100%;
    border-color: black;
    border-style: double;
}

#delEmp {
    border-width: 1px;
    border-style: solid;
    color: red;
}

.totalDue {
    margin-top: 25px;
    font-size: 25px;
    font-weight: bold;
    color: green;
    text-align: right;
}

