body {
    background-color: lavender;
    }

#addbtn {
    border-width: 3px;
    border-style: ridge;
    height: 35px;
    width: 15%;
    padding: 2px; 
    margin-bottom: 5px;
    background-color: purple;
    color: white;
    text-shadow: silver ;

}

/* stretch: add styling */ 