/* stretch: add styling */

body {
    background-color: lavender;
    margin: 0;
}

header {
    padding: 3%;
    background-color: rgb(65, 155, 125) ;
    text-align: center;
}

p {
    text-align: left;
    font-size: 20px;
}

form {
    margin: 2% 2% 4% 2%;
}

input {
    border: solid black 1px;
    border-collapse: separate;
    margin: 0 15px 0 5px;
    font-size: 14px;
}

.js-employeesInput button {
    border-width: 3px;
    border-style: ridge;
    height: auto;
    width: auto;
    padding: 2px;
    margin-bottom: 0 0 5px 15px;
    background-color:  rgb(65, 155, 125) ;
    font-size: inherit;
    color: white;
    text-shadow: silver ;
}

table {
    border-color: black;
    border-style: double;
    width: 100%;
    border-collapse: collapse;
}

.error {
    text-align: center;
}

th {
    background-color: gray;
    text-align: left;
}

th, td {
border: 1px solid black;
padding: 5px;
}

.js-output-delbtn {
    border-width: 1px;
    border-style: solid;
    color: red;
    margin: auto;
    display: block;
}

.totalDue {
    margin: 40px 25px 0 0;
    font-size: 25px;
    font-weight: bold;
    color: green;
    text-align: right;
}

.interact {
    margin: 2%;
}